body{
    text-align:center;
    padding-top: 35vh;
    color:white;
}

img{
    width: 500px;
    margin:20px;
}

img:hover{
    transform: scale(1.1)
}

@media (max-width:840px){

    .body{
        display:flex;
        justify-content:center;
        align-items:center;
    }

    img{
        width:250px;
    }

}
